<div class="star_rate_<%= book.id %>"></div>
<script>
  $('.star_rate_<%= book.id %>').empty();
  $(".star_rate_<%= book.id %>").raty({
    size: 36,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    score: <%= book.rate %>,
    readOnly: true
  });
  </script>

<!--これでもいける-->
<!--<div class="book-rate" data-score="<%= book.rate %>"></div>-->
<!--<script>-->
<!--  $('.book-rate').empty();-->
<!--  $('.book-rate').raty({-->
<!--    readOnly: true,-->
<!--    score: function() {-->
<!--      $(this).attr('data-score');-->
<!--    },-->
<!--    path: '/assets/'-->
<!--  });-->
<!--</script>-->
